<!DOCTYPE html>
<html>
  <head>
    <title>API Home</title>
  </head>
  <body>
    <h1><%= message %></h1>
    <nav>
      <a href="/groundstations">View Ground Stations</a> |
      <a href="/planets">View Planets</a> | <a href="/fields">View Fields</a> |
      <a href="/robots">View Robots</a> |
      <a href="/measurements">View Measurements</a>
    </nav>
  </body>
</html>
